.container{
    display: flex;
}
.grid{
    width: 200px;
    height: 400px;
    background-color: #ddff00;
    display: flex;
    flex-wrap: wrap;
}
.grid div{
    width: 20px;
    height: 20px;
}

.tetromino{
    background-color: #0000ff;
}


.mini-grid{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: #ddff00;
    margin-left: 50px;
}

.mini-grid div{
    width: 20px;
    height: 20px;
}

